.u-section-1 .u-sheet-1 {
  min-height: 178px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 50px 34px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/Carpark_cleaning_goldcoast.jpg.webp');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 603px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 0% 40.08%;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 23.67% 42.79%;
    background-size: auto 125%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 45.45% 41.07%, 39.83% 50%;
    background-size: auto 125%, cover;
    background-repeat: no-repeat, no-repeat;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1173px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 39px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 247px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 127px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 0 19px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 127px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 356px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 399px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 31px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 60px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  padding-left: 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -81px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 83px;
  }
}